/vendor/
/nbproject/private/
node_modules

App/Modules/*
!AdminModule/
!DocumentationModule/
!HomepageModule/
!UserModule/

App/Trash
.storybook/
.vscode/
bck/

log/*
!do-not-erase

temp/cache/*
!do-not-erase