/nbproject/private/
node_modules

App/Modules/*
!AdminModule/
!BlogModule/
!DocumentationModule/
!HomepageModule/
!UserModule/

App/Modules/AdminModule/resources/img/user/*

App/Trash

public/img/avatar/*


.storybook/
.vscode/

.directory

project_properties/*

bck/

log/*
!do-not-erase

temp/cache/*
!do-not-erase