/nbproject/private/
node_modules

App/Modules/*
!AdminModule/
!AdmindevModule/
!BlogModule/
!HomepageModule/
!UserModule/

App/Trash

App/Database/Tables/Krimwr/*


.storybook/
.vscode/

.directory

project_properties/*

bck/

log/*
!do-not-erase

temp/cache/*
!do-not-erase

private/logs/users/*
!do-not-erase

//public/img/avatar/*

public/upload/images/*

content/uploads/*

resources/sql/*.db

public/font_awesome/pro/*
!do-not-erase