*
{
    box-sizing: border-box;
    font-family: Raleway, Arial, Halvetica;
}

.lora_message, .lora_message_success, .message
{
    border-radius: 1px;
}

.message
{
    background: #62c462;
}

details > *{margin-bottom: .5em;}

.stylize-dialog-info
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: auto;
}

.stylize-dialog-image
{
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    bottom: 1em;
    z-index: auto;
}

.stylize-dialog-panel
{
    box-shadow: 0 0 0 900vmax rgb(0 0 0 / 0.5);
}

.stylize-image-drop:hover
{
    border-style: dotted;
    border-color: var(--basic-color1);
}

.stylize-image-drop:hover > *
{
    color: var(--basic-color1);
}

#dialog
{
    position: fixed;
}

.button-action
{
    background: #ff4c00;
    color: black;
}

.button-action:hover
{
    background: none;
    color: #ff4c00;
}

.test-child:first-child
{
    color: lime;
}

.body-background
{
    background-color: #F5F2F0;
    color: #1a1a1a;
}

.nav-background
{
    background-color: #F8F8F8;
}

ul, ol
{
    margin-left: 15px;
}

/* @media (prefers-color-scheme: light) {
    html {
      filter: invert(100%) contrast(90%) hue-rotate(180deg);
    }
  }
  */

  input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.label-checkbox {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 23px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.label-checkbox:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + .label-checkbox {
	background: #6bace1;
}

input:checked + .label-checkbox:after {
	left: calc(100% - 3px);
	transform: translateX(-100%);
}

.label-checkbox:active:after {
	width: 40px;
}