RewriteEngine On
Options -Indexes

# RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule !\.(css|js|icon|zip|rar|png|jpg|gif|pdf)$ index.php [L]
AddType application/x-httpd-php .php .phtml

RewriteCond %{HTTP:X-Forwarded-Proto} !https

RewriteCond %{HTTP_HOST} ^(www\.)?odchytykvk.cz

RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L]

<FilesMatch "\.(ini|psd|log|sh|lo.php)$">
    Order allow,deny
    Deny from all
</FilesMatch>

Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
