:root
{
  --custom-color-1: #39c0c7;
  --custom-color-2: #f40df5
}
/* Buttons */

.button-custom
{
    background: linear-gradient(to right, var(--custom-color-1) 60%, var(--custom-color-2));
    color: #111010;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
}

.button-custom-main-1, .button-custom-main-2
{
    transition: all .3s;  
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-custom-main-1
{
    background: var(--custom-color-1);
    color: #06092A;
}

.button-custom-main-2
{
    background: var(--custom-color-2);
    color: #111010;
}

.button-custom:hover, .button-custom-main:hover
{
    background: linear-gradient(to right, var(--custom-color-1) 50%, var(--custom-color-2));
    color: white;
    cursor: pointer;
}

.t-custom-1
{
    color: var(--custom-color-1);
}

.t-custom-2
{
    color: var(--custom-color-2);
}

.background-custom-1
{
    background: var(--custom-color-1);
}

.background-custom-2
{
    background: var(--custom-color-2);
}

.bd-custom-1
{
    border-color: var(--custom-color-1);
}

.bd-custom-2
{
    border-color: var(--custom-color-2);
}

.input-custom-1
{
    border: 2px solid var(--custom-color-1);
    background: #bfbfbf;
    color: #06092A;
    padding: .7em;
    border-radius: 3px;
    font-weight: bolder;
}

.input-custom-2
{
    border: 2px solid var(--custom-color-2);
    background: #bfbfbf;
    color: #06092A;
    padding: .7em;
    border-radius: 3px;
    font-weight: bolder;

}
:root
{
    --stylora-button-1: blue;
}



.t-color-laravel {
    color: #EF4444;
}

.t-hover-laravel:hover {
    color: #EF4444
}
