#!/usr/bin/php -q
<?php
    error_reporting(E_ERROR);
    require ("App/Core/Autoload/Autoload.php");
    
    $autoload = new Autoload();
    $autoload->loadClass();
    
    $lora = new {Company}\{Name}\Bin\{name}();
    $implode_cmds = implode(" ", $argv);
    $lora->prepareCommand($implode_cmds);
?>


